<<<<<<< HEAD
header {
    background-color: red;
    height: 70px;
    width: 100%;
}
=======
header
{
	background-color: #FF0000;
	height: 70px;
	width: 100%;
}
>>>>>>> b48eb53f2f2b46d88c7a0f4d5f79e140cb61ddf8
